body{
    display: flex;
    flex-direction: column;
    height: 470px;
    width:320px;
    border-style: solid;
}

#fullscreen{
    flex:1 1 33%;
}
#screen{
    text-align: right;
    margin-top: 15%;
    margin-bottom: 0%;
    font-size: 35px;
}
#smallsc{
    text-align: right;
    font-size: 25px;
    margin-top: 5%;
    color: lightslategray;
}

#keypad{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex:1 1 66%;
}


#leftbuts,#rightbuts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#leftbuts> button{
    flex:1 1 30%;
    font-size: 25px;
    background-color:#0d0d0d;
    color:white;
    border:none;
    
}
#rightbuts> button{
    flex:1 1 100%;
    font-size: 25px;
    background-color:#333333;
    color:white;
    border:none;
}
